/* buyStamps.css */

.buy-stamps-container {
  max-width: 75%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.stamps-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.stamp-box {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.stamp-box img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.stamps-container {
  display: flex;
  flex-wrap: wrap;
}

.stamp-box {
  width: calc(33.33% - 10px); /* 3 stamps in each row with margin-right */
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
}

.stamp-box img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.stamp-box button {
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

.cart-container {
  width: 300px;
}

.cart-container h2 {
  margin-bottom: 10px;
}

.cart-container ul {
  list-style-type: none;
  padding: 0;
}

.cart-container li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-container li button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* Add your additional styling as needed */
